body{
    font-family: 'Montserrat', sans-serif;
    color: #440505;
}


.breed-select {
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 5px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    margin-bottom: 50px;
}

.breed-select:hover {
    border-bottom: 2px solid #021e27;
}

.cat-info {
margin-left: 200px;
 display: flex;   
}

.cat-info img {
    margin-left: 50px;
    margin-right: 30px;
}

.loader {
    width: 130px;
    height: 48px;
    display: inline-block;
    background: linear-gradient(45deg, #000 25%, transparent 25%, transparent 75%, #000 75%, #000 100%), linear-gradient(45deg, #000 25%, white 25%, white 75%, #000 75%, #000 100%);
    font-size: 10px;
    background-size: 32px 32px;
    box-sizing: border-box;
    animation: raceBoard 0.6s linear infinite;
    background-position: 0 0, 16px 16px;
}

@keyframes raceBoard {
    0% {
        background-position: 0 0, 16px 16px;
    }

    100% {
        background-position: 32px 0px, 48px 16px;
    }
}