body{
    font-family: 'Montserrat', sans-serif;
    color: #440505;
}


.breed-select {
    position: absolute;
    left: 5px;
    top: 10px;
    padding: 5px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    margin-bottom: 40px;
    background-color: aqua;
}

.breed-select:hover {
    border-bottom: 2px solid #021e27;
}

.cat-info {
margin-left: 200px;
 display: flex;   
}

.cat-info img {
    margin-left: 50px;
    margin-right: 30px;
}
.loader {
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 50%;
  color: #FF3D00;
  animation: fill 2s ease-in infinite alternate;
}
.loader::before , .loader::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  left: 38px;
  top: 15px;
  animation: fill 2s ease-in infinite alternate;
}

.loader::after {
  left: auto;
  right: 38px;
  animation-duration: 3s;
}

@keyframes fill {
 0% {  box-shadow: 0 0 0 2px inset }
 100%{ box-shadow: 0 0 0 5px inset }
}
  